<div class="hike_comments">
  <% @hike.comments.each do |c| %>
  <ul>
    <li><strong><%= c.content %></strong><br />by: <%= c.commentor.username %></li><br />
      <% if current_user.id == c.user_id %>
        <%= form_tag(hike_comment_path(@hike, c), method: "delete") do %>
          <div><%= submit_tag 'Delete Comment' %></div>
        <% end %>
      <% end %>
  </ul>
  <% end %>
</div>