<h1>My Hikes</h1>

<%= link_to "Create new hike", new_user_hike_path(@user) %><br />

<h4>Click <%= link_to "here ", user_hikes_url(@user.id), class: 'show_user_hikes' %>to see <%= @user.username %>'s hikes!</h4>

<div class="list_user_hikes">
  <ol></ol>
</div>
<br>
<h3>Click <%= link_to('here', '/hikes/recent') %> to see recently added hikes!</h3>