<h1>My Hikes</h1>

<div class="wrapper">
  <ul>
    <% t.hikes.each do |h| %>
      <p><%= h.name %></p>
      <p><%= h.description %></p>
    <% end %>
  </ul>
  <%= link_to "Create new hike", new_user_hike_path(@user), class:"button create_button" %>
</div>